In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Dataset\\processed_data.csv', index_col=False)

In [3]:
district_by_accident = df.District.value_counts()
district_by_accident

42    8050
64    1424
54    1336
63    1287
44    1250
      ...
68     144
19      99
70      94
23      65
69      39
Name: District, Length: 70, dtype: int64

In [4]:
df.describe()

,Thana,District,Month,Year,Time,Junction_Type,Traffic_Control,Movement,Divider,Weather,...,Road_Feature,Location_Type,Vehicle_Type,Vehicle_Movement,Vehicle_Loading,Vehicle_Defect,Vehicle_Driver_Age,Vehicle_Alcohol,Vehicle_Seat_Belt,Accident_Severity
count,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,...,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000,43087.000000
mean,6.617472,38.864321,6.213405,2006.885720,5.004224,2.170608,2.009701,1.847657,1.778796,1.100193,...,1.077378,1.625850,10.704458,6.062501,1.057187,2.119549,33.291387,1.769931,1.844060,0.390675
std,6.913342,17.528867,3.429520,3.975944,61.441647,2.113812,2.102798,0.359357,0.415062,0.462402,...,0.430632,0.483908,3.796507,1.809081,0.232301,2.125606,5.062100,0.420882,0.521533,0.758996
min,1.000000,1.000000,1.000000,2001.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
25%,2.000000,26.000000,3.000000,2003.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000,...,1.000000,1.000000,9.000000,6.000000,1.000000,1.000000,33.000000,2.000000,2.000000,0.000000
50%,5.000000,42.000000,6.000000,2007.000000,3.000000,1.000000,1.000000,2.000000,2.000000,1.000000,...,1.000000,2.000000,9.000000,6.000000,1.000000,1.000000,33.000000,2.000000,2.000000,0.000000
75%,9.000000,52.000000,9.000000,2010.000000,3.000000,2.000000,1.000000,2.000000,2.000000,1.000000,...,1.000000,2.000000,14.000000,6.000000,1.000000,2.000000,33.000000,2.000000,2.000000,1.000000
max,49.000000,70.000000,12.000000,2016.000000,2330.000000,7.000000,8.000000,2.000000,2.000000,4.000000,...,5.000000,2.000000,19.000000,14.000000,2.000000,7.000000,85.000000,2.000000,2.000000,3.000000

In [20]:
len(np.unique(df["Thana"]))

49

In [21]:
len(np.unique(df["District"]))

70

In [22]:
len(np.unique(df["Weather"]))

4

In [24]:
np.unique(df['Vehicle_Driver_Age'])

array([ 0,  1,  2,  3,  4,  6,  7, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
       38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
       55, 56, 57, 58, 59, 60, 61, 62, 65, 66, 73, 75, 80, 82, 85],
      dtype=int64)

In [8]:
df.Accident_Severity.value_counts()

F    31661
G     7894
S     1875
M     1657
7        1
2        1
Name: Accident_Severity, dtype: int64

In [11]:
df.Road_Class.value_counts()

1    19123
5     8967
2     6014
3     5566
4     3417
Name: Road_Class, dtype: int64

In [29]:

print()

0        4
1        2
2        3
3        3
4        2
        ..
43084    2
43085    3
43086    1
43087    2
43088    3
Name: Time, Length: 43089, dtype: object

In [32]:
# import matplotlib.pyplot as plt
# n=df.Lo.value_counts()
# mylabels = ["Rural Area", "Urban Area"]


# plt.pie(n,labels = mylabels)
# plt.show() 
df.Surface_Condition.value_counts()

1    40832
2     1710
5      313
?      124
3       90
4       18
0        1
         1
Name: Surface_Condition, dtype: int64

In [33]:
df.Surface_Quality.value_counts()

1    40903
2     1481
3      558
?      147
Name: Surface_Quality, dtype: int64

In [34]:
df.Surface_Type.value_counts()

1    42100
2      459
3      428
?      102
Name: Surface_Type, dtype: int64

In [35]:
df.Traffic_Control.value_counts()

1    32690
8     3535
4     3252
3     1224
2      875
6      717
?      424
5      274
7       96
         2
Name: Traffic_Control, dtype: int64

In [38]:
df.Movement.value_counts()

2    36523
1     6564
Name: Movement, dtype: int64

In [4]:
df.Vehicle_Defect.value_counts()

1    29593
7     6116
2     5475
3     1046
6      650
5      104
4      103
Name: Vehicle_Defect, dtype: int64

In [5]:
df.Light.value_counts()

1    29543
2     5647
3     3950
4     3947
Name: Light, dtype: int64